<ion-header>
  <ion-toolbar>
    <ion-title>Facial Detection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="healthy && photoService.photo">
    <ion-row>
      <ion-col>
        <ion-img [src]="photoService.photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="primary">{{ photoService.photo.faceCount }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
